<div class="container-fluid">
    <div class="row min-vh-100 align-content-center distance-from-navbar">
        <div class="col-md-6 p-2">
            <img
                src="assets/img/profile-pic.jpg"
                class="img-fluid shadow rounded"
                alt="Picture of Cameron Brown"
            />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About Me</h1>
                    <p>
                        Hi, I'm Cameron Brown. I'm a Software Engineer at Fidelity
                        Investments. I graduated with a Bachelor's Degree in Computer
                        Science in April 2022 and have been working at Fidelity as a
                        Software Engineer ever since. I have primarily worked with
                        Javascript/TypeScript both on the front-end and back-end.
                        Recently, I've started working with Java and Spring Boot as well.
                    </p>
                    <p>
                        I live in Salt Lake City, Utah. Outside of work, I enjoy watching
                        soccer and football. My favorite teams are Real Salt Lake and
                        Tottenham Hotspur. I also enjoy spending time with my wife and
                        dog, playing sports, reading, and playing video games.
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <a
                        class="m-2"
                        href="https://www.github.com/cameronjoebrown"
                        target="_blank"
                        aria-label="Go to Cameron Brown's GitHub Profile"
                    >
                        <fa-icon
                            [icon]="faGithub"
                            size="2x"
                            style="color: black"
                        ></fa-icon>
                    </a>
                    <a
                        class="m-2"
                        href="https://www.linkedin.com/in/cameronjoebrown/"
                        target="_blank"
                        aria-label="Go to Cameron Brown's LinkedIn Profile"
                    >
                        <fa-icon
                            [icon]="faLinkedin"
                            size="2x"
                            style="color: #007bb5"
                        ></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
