.nav-link,
.navbar-brand {
    color: #4d4d4d;
    font-size: 20px;
}

.nav-link:hover,
.navbar-brand:hover {
    color: black;
}

.navbar-nav .active {
    color: black;
}

.bg-on-scroll {
    background-color: #d9f2d2;
}
