<div class="container-fluid">
    <div class="row min-vh-100 align-items-center distance-from-navbar">
        <div class="col-md-6 text-center intro-text">
            <p>Hey 👋, I'm</p>
            <h1>Cameron Brown</h1>
            <p>I'm a Software Engineer</p>
        </div>
        <div class="col-md-6 text-center memoji">
            <img
                class="img-fluid"
                src="assets/img/memoji-macbook.png"
                alt="Memoji of Cameron Brown"
            />
        </div>
    </div>
</div>
